/.phpunit.cache
/node_modules
# /public/build
# /public/dist
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed

# Đảm bảo giữ lại các file quan trọng cho Vercel
!/public/build/assets
!/public/build/.vite
!/public/build/manifest.json
!/public/dist
!/public/dist/.vite
!/public/dist/manifest.json
